{% extends "base.html" %}

{% block content %}

<h1>Not Found</h1>

<p>
    Sorry, we can't find the page you're looking for.
    These documents have recently been reorganized,
    and the link you clicked may point to a document that has moved.
</p>

<p>
    If you're getting started with DART 2, go to the
    <a href="/dart-docs/dart2/users/getting_started">DART 2 Getting Started page</a>
</p>

<p>
    If you're getting started with DART 3, try the
    <a href="/dart-docs/dart3/users/getting_started">DART 3 Getting Started page</a>
</p>

{% endblock %}